nav {
    display: inline-block;
}

.header {
    text-align: center;
    font-style: Helvetica;
}

.first-para {
    display: inline-block;
    background: rgb(100, 0, 0);
    text-align: left;
}

.second-para {
    display: block;
    background: rgb(47, 76, 104);
    text-align: right;
}

.intro {
    display: inline-block;
}

.college-logo {
    width: 200px;
}

.emoji {
    width: 300px;
}