.nameplate {
    display: block;
    font-family: "Georgia";
    font-weight: 700;
    background-color: #67b9e5;
    color: white;
    padding: 20px;
    padding-top: 90px;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 0px 0px 50px 0px;
    width: auto;
}

.navbar {
    display: flex;
    width: 500px;
}

.navbartext {
    padding: 20px;
    margin-top: 0px;
    background-color: #1C6EA4;
    font-family: "Georgia";
    font-weight: 60;
    color: white;
    border: none;
}

#rightmostnav {
    margin-right: auto;
    flex: auto;
}